<div class="flex">
  <div></div>
  <div>
    <div id="clearance" class="sign-in">
      <h2><%= t(".title") %></h2>

      <%= render partial: '/sessions/form' %>

    </div>
  </div>
  <div></div>
</div>

