<div class="flex">
  <div></div>
  <div>
    <%= form_for @post  do |f| %>
      <%= f.text_area :body %>

      <br>

      <br>
      <%= f.submit "Update" %>
    <% end %>
  </div>
  <div></div>
</div>
